@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,
body ,
.container {
    height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    Font-size: 18px;
    background-color: #0d192b;
    color: #8bacda;
    font-family: 'Outfit', sans-serif;

}
.card{
    width: 25%;
    height: 80%;
    background-color: #14253d;
    border-radius: 10px;
    box-shadow: 10px 15px 5px #2f415b;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img , .title{
    width:90%;
    height: 50%;
    margin: 15px 0;
}
.title h4{ 
    margin-bottom: 15px;
    font-weight:600;
    color: #fff;
}
.title p{
    font-weight: 300;
}
.img{
    background-color: rgb(0, 255, 247);
    border-radius: 11px;
}
.img .image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.img:hover .image {
    opacity: 0.3;
    background: #00fff7;
  }
  
  .img:hover .middle {
    opacity: 1;

  }
  
.line{
    width: 90%;
    border: 1px solid #2f415b;
}
.avatar{
    display: flex;
    align-items: center;
    margin: 15px ;
    font-weight:300;
    font-size: 15px;
}
.avatar span{
    color: #fff;
}
.avatar span:hover ,.title h4:hover{
    color:#00fff7;
    cursor: pointer;
}

.avatar img{
    width: 8%;
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.eth-day{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.eth , .day{
    display: flex;
}
.eth-day p {
    margin-left: 5px;
}
.eth p{
    color: #00fff7;
}
@media screen and (max-width: 1000px) {
    /* For tablets: */
    .card{
        width: 40%;

    }
}
@media screen and (max-width: 800px) {
    /* For tablets: */
    .card{
        width: 75%;

    }
}
